:root {
  --serviceBoxWidth: 280px;
  --serviceBoxHeight: 360px;
}

.services-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--serviceBoxWidth), 1fr));
  grid-template-rows: auto;
  justify-content: center;
  justify-items: center;
  gap: 3rem 2.5rem;
  margin: 3rem 1rem;
}

.service-box {
  background-color: #ffffff;
  border-radius: 5px;
  width: var(--serviceBoxWidth);
  height: var(--serviceBoxHeight);
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: var(--boxShadow);
}

.service-image {
  width: 70px;
  height: 70px;
  object-fit: cover;
  object-position: bottom;
  border-radius: 5px;
  margin-top: -40%;
  border: 2px var(--themePurple) solid;
  cursor: pointer;
}

.service-title {
  font-size: 1.5rem;
  padding-top: .2em;
  color: var(--themePurple);
}

.service-description {
  width: 95%;
  font-size: 1.05rem;
  padding: .5em 0;
  line-height: 1.3em;
  text-align: center;
}

.learn-more-button {
  background-color: unset;
  border-radius: 5px;
  font-size: 1rem;
  padding: .5em;
  margin: .25em;
  cursor: pointer;
  color: var(--themePurple);
  margin-top: auto;
  transition: .2s ease;
  border: 1px solid;
}

.learn-more-button:hover {
  background-color: var(--themePurple);
  border-color: var(--themePurple);
  color: #fff;
}